/* tablet */

@media screen and (min-width: 416px) and (max-width: 1023px) {

  .headerblock {margin-top: 9vh;}

  .proton img {
    width: 2.2vw;
    height: 2.2vw;
  }

  h1 {
    font-size: 13vw;
    margin-left: 10%;
  }

  .electron img {
    width: 2.2vw;
    height: 2.2vw;
  }

  .rowcontainer {
    height: 3vw;
  }

  .row {
    font-size: 3vw;
  }

  .headerblock {
    width: 70vw;
  }

  .proton1 {margin: -20% 0% 0% 15%;}
  .proton7 {margin: -13% 0% 0% 89%;}
  .proton8 {margin: 7% 0% 0% 59%}

  .electron1 {margin: 27% 0% 0% 12%;}
  .electron2 {margin: 0% 0% 0% -2%;}
  .electron3 {margin: 12% 0% 0% 87%;}
  .electron4 {margin: 12% 0% 0% 84%;}
  .electron5 {margin: 7% 0% 0% 63%;}
  .electron6 {margin: 26% 0% 0% 94%;}
  .electron7 {margin: 5% 0% 0% 32%;}
  .electron8 {margin: -12% 0% 0% 66%;}
  .electron9 {margin: 12% 0% 0% 25%;}
  .electron10 {margin: -3% 0% 0% 14%;}

  .fallingtext {
    font-size: 2vw;
    height: 63vw;
  }

  .center {
    margin-top: -60%;
  }

  .wavesblock {
    margin-top: 66%;
  }

  .rotating-div { 
    width: 60vw;
    height: 60vw;
    border: 2px dashed #9BB6FF;
  }

  .wavetextblock {
    margin-top: 63%;
    font-size: 2vw;
    height: 45vw;
  }

  .fourth {
    width: 100vw;
    height: 100vw;
  }
  .circle {
    width: 100vw;
    height: 100vw;
  }

  .circle {
    background-size: 100vw 100vw;
  }

  .circlelectron11, .circlelectron10, .circlelectron9, .circlelectron8, .circlelectron7 {
    display: none;
  } 

  .circlelectron1 {
    margin: 77% 45% 0% 0%;
  }

  .circlelectron4 {
    margin: 59% 0% 0% 78%;
  }

  .circlelectron5 {
    margin: 82% 0% 0% 26%;
  }

  .circlelectron6 {
    margin: 9% 64% 0% 45%;
  }

  .btn {
    width: 100vw;
    height: 70vw;
  }

  .circlelectron img {
    width: 4.8vw;
    height: 4.8vw;
  }

  .circlelectron {
    width: 4.8vw;
    height: 4.8vw;
  }

  .thirdsection {
    height: 85vw;
  }

  .circles img {
    width: 50vw;
    height: 49vw;
  }

  .circle1, .circle2, .circle3, .circle4 {
    position: absolute;
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
  }

  .circle1, .circle3 {
    animation: rotatecircle 3s linear infinite;
  }

  .circle2, .circle4 {
    animation: rotatecircle2 3s linear infinite;
  }

  .circle1 {
    margin: 0% 0 0 -40%;
  }

  .circle2 {
    margin: 0% 0 0 40%;
  }

  .circle3 {
    margin: 20% 0 0 -40%;
  }

  .circle4 {
    margin: 20% 0 0 40%;
  }

  .fourthsection {
    font-size: 5vw;
  }


  footer {
    font-size: 3vw;
  }

  .footerproton {
    width: 2.2vw;
    height: 2.2vw;
  }

  .footerproton img {
    width: 2.2vw;
    height: 2.2vw;
  }
}

/* mobile */

@media screen and (max-width: 414px) {
  .headerblock {
    margin-top: 9vh;
  }

  .proton img {
    width: 2.2vw;
    height: 2.2vw;
  }

  h1 {
    font-size: 15vw;
    margin-left: 10%;
  }

  .electron img {
    width: 2.2vw;
    height: 2.2vw;
  }

  .rowcontainer {
    height: 3vw;
  }

  .row {font-size: 3vw}

  .headerblock {
    width: 80vw;
  }

  .proton1 {margin: -20% 0% 0% 15%;}
  .proton7 {margin: -13% 0% 0% 89%;}
  .proton8 {margin: 7% 0% 0% 59%}

  .electron1 {margin: 7% 0% 0% 12%;}
  .electron2 {margin: 0% 0% 0% -2%;}
  .electron3 {margin: 12% 0% 0% 87%;}
  .electron4 {margin: 12% 0% 0% 84%;}
  .electron5 {margin: 7% 0% 0% 63%;}
  .electron6 {margin: 26% 0% 0% 94%;}
  .electron7 {margin: 5% 0% 0% 32%;}
  .electron8 {margin: -12% 0% 0% 66%;}
  .electron9 {margin: 12% 0% 0% 25%;}
  .electron10 {margin: -3% 0% 0% 14%;}

  .fallingtext {
    height: 63vw;
    font-size: 3vw;
  }

  .center {
    margin-top: -60%;
  }
  .rotating-div {
    border: 2px dashed #9BB6FF;
  }

  .wavesblock {
    margin-top: 66%;
  }

  .rotating-div { 
    width: 60vw;
    height: 60vw;
    border: 2px dashed #9BB6FF;
  }

  .wavetextblock {
    margin-top: 63%;
    font-size: 2.5vw;
    height: 45vw;
  }

  .fourth {
    width: 100vw;
    height: 100vw;
  }
  .circle {
    width: 100vw;
    height: 100vw;
  }

  .circle {
    background-size: 100vw 100vw;
  }

  .circlelectron11, .circlelectron10, .circlelectron9, .circlelectron8, .circlelectron7 {
    display: none;
  } 

  .circlelectron1 {
    margin: 77% 45% 0% 0%;
  }

  .circlelectron4 {
    margin: 59% 0% 0% 78%;
  }

  .circlelectron5 {
    margin: 82% 0% 0% 26%;
  }

  .circlelectron6 {
    margin: 9% 64% 0% 45%;
  }

  .btn {
    width: 100vw;
    height: 70vw;
  }

  .circlelectron img {
    width: 5vw;
    height: 5vw;
  }

  .circlelectron {
    width: 5vw;
    height: 5vw;
  }

  .thirdsection {
    height: 85vw;
  }

  .circles img {
    width: 50vw;
    height: 49vw;
  }

  .circle1, .circle2, .circle3, .circle4 {
    position: absolute;
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
  }

  .circle1, .circle3 {
    animation: rotatecircle 3s linear infinite;
  }

  .circle2, .circle4 {
    animation: rotatecircle2 3s linear infinite;
  }

  .circle1 {
    margin: 0% 0 0 -40%;
  }

  .circle2 {
    margin: 0% 0 0 40%;
  }

  .circle3 {
    margin: 20% 0 0 -40%;
  }

  .circle4 {
    margin: 20% 0 0 40%;
  }

  .fourthsection {
    font-size: 5vw;
  }

  footer {
    font-size: 3vw;
  }

  .footerproton {
    width: 2.2vw;
    height: 2.2vw;
  }

  .footerproton img {
    width: 2.2vw;
    height: 2.2vw;
  }
}