@keyframes row {
  0%   {transform: translateX(-50%)}
  100% {transform: translateX(-3%)}
}

@keyframes protons {
  0%   {transform: translate(0);}
  10%  {transform: translate(-2px, -2px);}
  20%  {transform: translate(2px, -2px);}
  30%  {transform: translate(-2px, 2px);}
  40%  {transform: translate(2px, 2px);}
  50%  {transform: translate(-2px, -2px);}
  60%  {transform: translate(2px, -2px);}
  70%  {transform: translate(-2px, 2px);}
  80%  {transform: translate(-2px, -2px);}
  90%  {transform: translate(2px, -2px);}
  100% {transform: translate(0);}
}

@keyframes electrons {
  from { transform: rotate(0deg) translateX(17vw) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(17vw) rotate(-360deg); }
}

@keyframes electrons2 {
  from { transform: rotate(0deg) translateX(10vw) rotate(0deg); }
  to   { transform: rotate(-360deg) translateX(10vw) rotate(360deg); }
}

@keyframes electrons3 {
  from { transform: rotate(0deg) translateX(15vw) rotate(0deg); }
  to   { transform: rotate(-360deg) translateX(15vw) rotate(360deg); }
}


@keyframes falling {
  0% { top: -10%; left: 10%;  opacity: 0%;}
  50%{ opacity: 100%;}
  100% { top:  90%;  left: 5%; opacity: 0%; font-size: 2vw; rotate: 30deg;}
}

@keyframes falling2 {
  0% { top: -10%; left: 30%; opacity: 0%;}
  50%{ opacity: 100%;}
  100% { top:  90%;  left: 40%; opacity: 0%; font-size: 1.8vw; rotate: -30deg;}
}

@keyframes falling3 {
  0% { top: -10%; left: 70%; opacity: 0%;}
  50%{ opacity: 100%;}
  100% { top:  90%;  left: 60%; opacity: 0%; font-size: 1.8vw; rotate: 40deg;}
}

@keyframes falling4 {
  0% { top: -10%; left: 50%; opacity: 0%;}
  50%{ opacity: 100%;}
  100% { top:  90%;  left: 55%; opacity: 0%; font-size: 1.8vw; rotate: -60deg;}
}

@keyframes falling5 {
  0% { top: -10%; left: 90%; opacity: 0%;}
  50%{ opacity: 100%;}
  100% { top:  90%;  left: 75%; opacity: 0%; font-size: 1.8vw; rotate: -40deg;}
}

@keyframes falling6 {
  0% { top: -10%; left: 20%; opacity: 0%;}
  50%{ opacity: 100%;}
  100% { top:  90%;  left: 28%; opacity: 0%; font-size: 1.8vw; rotate: 45deg;}
}

@keyframes spin {
  from { transform: rotateY(0deg);}
  to   { transform: rotateY(360deg);}
}

@keyframes waves {
  0%{background-position: 0 0;}
  100%{background-position: -123.5vw 0;}
}

@keyframes wavytext {
  0%   {transform: translateY(-7vw);}
  50%  {transform: translateY(23vw);}
  100% {transform: translateY(-7vw);}
}
 
@keyframes wavytext1 {
  0%   {transform: translateY(23vw);}
  50%  {transform: translateY(-7vw);}
  100% {transform: translateY(23vw);}
}

@keyframes circle {
  0%   {transform: rotate(0deg);   scale: 0.6;}
  50%  {transform: rotate(180deg); scale: 1;}
  100% {transform: rotate(360deg); scale: 0.6;}
}

@keyframes circlelectron {
  from { transform: rotate(0deg) translateX(13vw) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(13vw) rotate(-360deg); }
}

/* 
@keyframes circlelectron {
  0%   {transform: translate(0);}
  10%  {transform: translate(-1vw, -1vw);}
  20%  {transform: translate(1vw, -1vw);}
  30%  {transform: translate(-1vw, -1vw);}
  40%  {transform: translate(1vw, -1vw);}
  50%  {transform: translate(-1vw, -1vw);   transform: rotate(90deg);}
  60%  {transform: translate(1vw, -1vw); }
  70%  {transform: translate(-1vw, -1vw)}
  80%  {transform: translate(1vw, -1vw);}
  90%  {transform: translate(-1vw, -1vw);}
  100% {transform: translate(0); transform: rotate(180deg);}
} */

@keyframes rotation {
  0% {transform: rotate(-0deg);    left: 0%;}
  50% {transform: rotate(180deg);  left: 80%;}
  100% {transform: rotate(360deg); left: 0%;}
} 

 
@keyframes rotation1 {
  0% {transform: rotate(0deg);      left: 80%;}
  50% {transform: rotate(-180deg);  left: 0%;}
  100% {transform: rotate(-360deg); left: 80%;}
} 

