@keyframes row {
  0%   {transform: translateX(-50%)}
  100% {transform: translateX(0%)}
}

@keyframes protons {
  0%   {transform: translate(0);}
  10%  {transform: translate(-2px, -2px);}
  20%  {transform: translate(2px, -2px);}
  30%  {transform: translate(-2px, 2px);}
  40%  {transform: translate(2px, 2px);}
  50%  {transform: translate(-2px, -2px);}
  60%  {transform: translate(2px, -2px);}
  70%  {transform: translate(-2px, 2px);}
  80%  {transform: translate(-2px, -2px);}
  90%  {transform: translate(2px, -2px);}
  100% {transform: translate(0);}
}

@keyframes electrons {
  from { transform: rotate(0deg) translateX(17vw) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(17vw) rotate(-360deg); }
}

@keyframes electrons2 {
  from { transform: rotate(0deg) translateX(10vw) rotate(0deg); }
  to   { transform: rotate(-360deg) translateX(10vw) rotate(360deg); }
}

@keyframes electrons3 {
  from { transform: rotate(0deg) translateX(15vw) rotate(0deg); }
  to   { transform: rotate(-360deg) translateX(15vw) rotate(360deg); }
}

@keyframes spin {
  from { transform: rotateY(0deg);}
  to   { transform: rotateY(360deg);}
}

@keyframes waves {
  0%{background-position:   0      0;}
  25%{background-position: -25vw   0;}
  50%{background-position: -50vw   0;}
  75%{background-position: -75vw   0;}
  100%{background-position: -100vw 0;}
}

@keyframes wavytext {
  0%   {transform: translateY(-100%);}
  50%  {transform: translateY(100%);}
  100% {transform: translateY(-100%);}
}
 
@keyframes wavytext1 {
  0%   {transform: translateY(45vw);}
  50%  {transform: translateY(0);}
  100% {transform: translateY(45vw);}
}

@keyframes blink {
  0%  {opacity: 1;}
  10% {opacity: 0;}
  11% {opacity: 1;}
  15% {opacity: 0;}
  20% {opacity: 1;}
  21% {opacity: 0;}
  27% {opacity: 1;}
  30% {opacity: 0;}
  32% {opacity: 1;}
  39% {opacity: 0;}
  41% {opacity: 1;}
  45% {opacity: 0;}
  55% {opacity: 1;}
  51% {opacity: 0;}
  65% {opacity: 1;}
  80% {opacity: 0;}
  98% {opacity: 1;}
  100%{opacity: 0;}
}

@keyframes circle {
  0%   {transform: rotate(0deg);   scale: 0.6;}
  50%  {transform: rotate(180deg); scale: 1;}
  100% {transform: rotate(360deg); scale: 0.6;}
}

/*

@keyframes running {
  0%   {transform: translateX(0);}
  100% {transform: translateX(-19px);}  
}

@keyframes rotate {
  0%{transform:rotateX(0)}
  50%{transform:rotateX(180deg)}
  100%{transform:rotateX(360deg)}
}



/*

