@keyframes waves {
  0%{background-position:   0      0;}
  25%{background-position: -25vw   0;}
  50%{background-position: -50vw   0;}
  75%{background-position: -75vw   0;}
  100%{background-position: -100vw 0;}
}

@keyframes wavytext {
  0%   {transform: translateY(-100%);}
  50%  {transform: translateY(100%);}
  100% {transform: translateY(-100%);}
}
 
@keyframes wavytext1 {
  0%   {transform: translateY(100%);}
  50%  {transform: translateY(-100%);}
  100% {transform: translateY(100%);}
}


/*

@keyframes running {
  0%   {transform: translateX(0);}
  100% {transform: translateX(-19px);}  
}

@keyframes rotate {
  0%{transform:rotateX(0)}
  50%{transform:rotateX(180deg)}
  100%{transform:rotateX(360deg)}
}




@keyframes h1glow {
  0%    {opacity: 0;}
  10%   {opacity: 0;}
  10.1% {opacity: 1;}
  10.2% {opacity: 0;}
  20%   {opacity: 0;}
  20.1% {opacity: 1;}
  20.6% {opacity: 0;}
  30%   {opacity: 0;}
  30.1% {opacity: 1;}
  30.5% {opacity: 1;}
  30.6% {opacity: 0;}
  45%   {opacity: 0;}
  45.1% {opacity: 1;}
  50%   {opacity: 1;}
  55%   {opacity: 1;}
  55.1% {opacity: 0;}
  57%   {opacity: 0;}
  57.1% {opacity: 1;}
  60%   {opacity: 1;}
  60.1% {opacity: 0;}
  65%   {opacity: 0;}
  65.1% {opacity: 1;}
  75%   {opacity: 1;}
  75.1% {opacity: 0;}
  77%   {opacity: 0;}
  77.1% {opacity: 1;}
  85%   {opacity: 1;}
  85.1% {opacity: 0;}
  86%   {opacity: 0;}
  86.1% {opacity: 1;}
  100%  {opacity: 1;}
}

@keyframes circle {
  0%   {transform: rotate(0deg);   scale: 0.6;}
  50%  {transform: rotate(180deg); scale: 1;}
  100% {transform: rotate(360deg); scale: 0.6;}
}
/*
@keyframes blink {
  0%  {opacity: 1;}
  10% {opacity: 0;}
  11% {opacity: 1;}
  15% {opacity: 0;}
  20% {opacity: 1;}
  21% {opacity: 0;}
  27% {opacity: 1;}
  30% {opacity: 0;}
  32% {opacity: 1;}
  39% {opacity: 0;}
  41% {opacity: 1;}
  45% {opacity: 0;}
  55% {opacity: 1;}
  51% {opacity: 0;}
  65% {opacity: 1;}
  80% {opacity: 0;}
  98% {opacity: 1;}
  100%{opacity: 0;}
}

