@font-face {
  font-family: 'InterBlack';
  src: url(../fonts/Inter_18pt-Black.ttf);
}

@font-face {
  font-family: 'InterRegular';
  src: url(../fonts/Inter_28pt-Regular.ttf);
}

@font-face {
  font-family: 'InterSemiBold';
  src: url(../fonts/Inter_24pt-SemiBold.ttf);
}