*{
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #161616;
}

.running{
  font-size: 5vh;
  top: 3%;
  width: 100%;
  color: #9BB6FF;
  font-family: 'InterRegular';
  position: absolute;
  white-space: nowrap;
  animation: run 3s linear infinite;
  animation-play-state: running;
}

.running:hover {
  transition: all 0.15s ease;
  animation-play-state: paused;
}

h1{
  margin-left: 40vw;
  margin-top: 35vh;
  font-size: 4vw;
  color: white;
  letter-spacing: -0.05em;
  font-family: 'InterBlack';
  text-wrap: nowrap;
  animation: h1glow 4s linear both;
}

h1:hover {
  color: #9BB6FF;
  }

.stages {
  display: flex;
  justify-content: space-around;
}

.menu {
  color: white;
  font-family: 'InterRegular';
  font-size: 2vw;
  margin-top: 8vw;
  animation: menu 5s ease infinite;
  animation-play-state: running;
}

.menu:hover {
  animation-play-state: paused;
  color: #9BB6FF;
  cursor: pointer;
}

.menu1 {
  color: white;
  font-family: 'InterRegular';
  font-size: 2vw;
  margin-top: 10vw;
  animation: menu1 5s ease infinite;
  animation-play-state: running;
}

.menu1:hover {
  animation-play-state: paused;
  color: #9BB6FF;
  cursor: pointer;
}

.button {
  margin-left: 30vw;
  margin-top: 10vw;
  width: 8vw;
  height: 8vw;
  color: white;
  border: 0.5vw solid white;
  border-radius: 100px;
  font-family: 'InterRegular';
  font-size: 5vw;
  text-align: center;
  padding: 1vw;
}

.button:hover {
  color: #9BB6FF;
  border: 0.5vw solid #9BB6FF;
  cursor: pointer;
}

.button:active {
  background-color: #9BB6FF;
  color: #161616;
}

.circle {
  position: absolute;
  margin-top: 20vh;
  margin-left: 15vw;
  width: 70vw;
  height: 70vw;
  background: url(../images/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  animation: circle 5s infinite;
}


