*{
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: #161616;
}

.center {
  margin-left: 50%;
  position: relative;
  top: 10px;
}

.rotating-div {
  width: 30vw;
  height: 30vw;
  color: #161616;
  font-family: 'InterSemiBold';
  font-size: 1.8vw;
  text-align: center;
  border: 3px dashed #9BB6FF;
  border-radius: 50%;
  transform-origin: left center; /* Центр вращения - левое ребро */ 
  animation: spin 3s linear infinite;
  transform-style: preserve-3d; /* Для эффекта глубины */ 
  position: absolute;
  animation-play-state: running;
}

.rotating-div2 {
  animation-delay: 0.45s; /* Задержка 0.5 секунды */ 
}

.rotating-div3 {
  animation-delay: 1.5s; /* Задержка 0.5 секунды */ 
}

.rotating-div4 {
  animation-delay: 1.95s; /* Задержка 0.5 секунды */ 
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.rotating-div:hover {
  background-color: #9BB6FF;
  animation-play-state: paused;
  animation: blink 3s infinite linear;
}

.rowcontainer {
  margin-top: 1vw;
  width: 100vw;
  height: 2vw;
  overflow: hidden;
  position: relative;
}

.row{
  position: absolute;
  font-size: 2vw;
  top: 3%;
  width: 1000px;
  color: #9BB6FF;
  font-family: 'InterRegular';
  white-space: nowrap;
  animation: row 2s linear infinite;
  animation-play-state: running;
}

@keyframes row {
  0%   {transform: translateX(-50%)}
  100% {transform: translateX(0%)}
}

.row:hover {
  transition: all 0.5s ease-out;
  animation-play-state: paused;
}

.headerblock{
  width: 35vw;
  height: 15vw;
  margin: auto;
  position: relative;
  margin-top: 30vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 8vw;
  color: white;
  letter-spacing: -0.05em;
  font-family: 'Iceberg';
}

.proton {
  width: 50px;
  height: 50px;
  position: absolute;
  animation: protons 0.5s linear infinite both;
}

.proton img {
  width: 1.8vw;
  height: 1.8vw;
}

.proton1 {
  margin: -25% 0% 0% 4%;
}
.proton2 {
  margin: -19% 0% 0% 33%;
}
.proton3 {
  margin: 7% 0% 0% 16%;
}
.proton4 {
  margin: -3% 0% 0% 45%;
}
.proton5 {
  margin: -21% 0% 0% 63%;
}
.proton6 {
  margin: 11% 0% 0% 79%;
}
.proton7 {
  margin: -13% 0% 0% 97%;
}

@keyframes protons {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}


.electron {
  width: 50px;
  height: 50px;
  --x-amplitude: 20vw;
  --y-amplitude: 10vw;
  --x: calc(cos(var(--angle)) * var(--x-amplitude));
  --y: calc(sin(var(--angle)) * var(--y-amplitude));
  translate: var(--x) var(--y);
  z-index: calc(var(--z)); /* calc() is for Safari */
  animation: revolve 6s linear infinite; 
}

.electron img {
  width: 50px;
  height: 50px;
}

@property --angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

@property --z {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}

@keyframes revolve {
  from {
    --angle: 0deg;
    --z: 0;
  }
  to {
    --angle: 360deg;
    --z: -1;
  }
}

.secondsection {
  display: block;
  margin-top: 5vw;
  width: 100%;
  height: 33vw;
}

.wavesblock {
  width: 100vw;
  height: 50vw;
  position: absolute;
  background: url(../images/waves.svg);
  background-repeat: no-repeat;
  animation: waves 6s linear infinite;
}

.wavetextblock {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50vw;
  color: white;
  font-family: 'InterSemiBold';
  font-size: 1.6vw;
}

.wavetext1{
  width: 10.52vw;
  height: 6vw;
}

.wavetext2{
  width: 8vw;
  height: 2.81vw;
  text-align: center;
}

.wavetext3{
  width: 7.4vw;
  height: 2.81vw;
  text-align: center;
}

.wavetext4{
  width: 7vw;
  height: 2.81vw;
}

.wavytext {
  color: white;
  font-family: 'InterRegular';
  margin-top: 8vw;
  animation: wavytext 5s ease infinite;
}

.wavytext1 {
  color: white;
  font-family: 'InterRegular';
  margin-top: 10vw;
  animation: wavytext1 5s ease infinite;
}

.circle {
  margin-top: 20vh;
  margin-left: 15vw;
  width: 70vw;
  height: 70vw;
  background: url(../images/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  animation: circle 5s infinite;
}

