*{
  box-sizing: border-box;
}

body, html {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #161616;
}

::-webkit-scrollbar {
  display: none;
}

.mainsection {
  width: 100%;
  height: 55vw;
  overflow: hidden;
  position: relative;
}

.rowcontainer {
  margin-top: 1vw;
  width: 100vw;
  height: 2vw;
  overflow: hidden;
  position: relative;
}

.row{
  position: absolute;
  font-size: 2vw;
  top: 3%;
  width: 1000px;
  color: #9BB6FF;
  font-family: 'InterRegular';
  white-space: nowrap;
  animation: row 2s linear infinite;
  animation-play-state: running;
}

.row:hover {
  transition: all 0.5s ease-out;
  animation-play-state: paused;
}

.headerblock{
  width: 35vmax;
  height: 15vmax;
  margin: auto;
  position: relative;
  margin-top: 30vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 9vmax;
  color: white;
  letter-spacing: -0.05em;
  font-family: 'Iceberg';
}

.proton {
  width: 1.8vw;
  height: 1.8vw;
  position: absolute;
  animation: protons 0.5s linear infinite both;
}

.proton img {
  width: 1.8vw;
  height: 1.8vw;
}

.proton1 {
  margin: -20% 0% 0% 4%;
}
.proton2 {
  margin: -19% 0% 0% 33%;
}
.proton3 {
  margin: 7% 0% 0% 16%;
}
.proton4 {
  margin: -3% 0% 0% 45%;
}
.proton5 {
  margin: -21% 0% 0% 63%;
}
.proton6 {
  margin: 11% 0% 0% 79%;
}
.proton7 {
  margin: -13% 0% 0% 97%;
}

.electron {
  width: 1.8vw;
  height: 1.8vw;
  position: absolute;
}

.electron img {
  width: 1.8vw;
  height: 1.8vw;
}

.electron1 {
  margin: -25% 0% 0% 4%;
  animation: electrons 4s linear infinite;
}

.electron2 {
  margin: -19% 0% 0% 33%;
  animation: electrons2 4s linear infinite;
  animation-delay: 0.2s; 
}

.electron3 {
  margin: 7% 0% 0% 16%;
  animation: electrons 4s linear infinite;
}

.electron4 {
  margin: -3% 0% 0% 45%;
  animation: electrons2 4s linear infinite;
  animation-delay: 0.4s; 
}

.electron5 {
  margin: -21% 0% 0% 63%;
  animation: electrons 4s linear infinite;
  animation-delay: 0.45s; 
}

.electron6 {
  margin: 11% 0% 0% 79%;
  animation: electrons3 4s linear infinite;
}

.electron7 {
  margin: -13% 0% 0% 97%;
  animation: electrons 4s linear infinite;
  animation-delay: 0.1s; 
}

.electron8 {
  margin: -13% 0% 0% 97%;
  animation: electrons 4s linear infinite;
  animation-delay: 0.1s; 
}

.electron9 {
  margin: -13% 0% 0% 97%;
  animation: electrons 4s linear infinite;
  animation-delay: 0.1s; 
}

.electron91 {
  margin: -13% 0% 0% 97%;
  animation: electrons 4s linear infinite;
  animation-delay: 0.1s; 
}

.electron92 {
  margin: -13% 0% 0% 97%;
  animation: electrons 4s linear infinite;
  animation-delay: 0.1s; 
}

/*--------------------------------------------------------*/

.secondsection {
  display: block;
  margin-top: 5vw;
  width: 100%;
  height: 42vw;
  font-family: 'InterRegular';
  font-size: 1.5vw;
  position: relative;
  overflow: hidden;
}

.fallingtext {
  display: flex;
  width: 100%;
  height: 42vw;
  position: relative;
}

.fall {
  opacity: 0;
  position: absolute;
  color: white;
  text-align: center;
}

.fall1 {
  animation: falling 3s linear infinite;
}
.fall2 {
  animation: falling2 3s linear infinite;
  animation-delay: 0.5s;
}
.fall3 {
  animation: falling3 3s linear infinite;
  animation-delay: 0.8s;
}
.fall4 {
  animation: falling4 3s linear infinite;
  animation-delay: 1s;
}
.fall5 { 
  animation: falling5 3s linear infinite;
  animation-delay: 1.3s;
}
.fall6 { 
  animation: falling6 3s linear infinite;
  animation-delay: 1.5s;
} 

.center {
  margin-top: -41%;
  margin-left: 50%;
  position: relative;
}

.rotating-div {
  width: 40vw;
  height: 40vw;
  border: 3px dashed #9BB6FF;
  border-radius: 50%;
  transform-origin: left center; 
  animation: spin 3s linear infinite;
  transform-style: preserve-3d; 
  position: absolute;
}

.rotating-div2 {
  animation-delay: 0.5s; 
}

.rotating-div3 {
  animation-delay: 1s; 
}

.rotating-div4 {
  animation-delay: 1.5s;
}

.rotating-div5 {
  animation-delay: 2s;
}

.rotating-div6 {
  animation-delay: 2.5s;
}

.rotating-div:hover {
  background-color: #9BB6FF;
}

.thirdsection {
  margin-top: 5vw;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.wavesblock {
  width: 100vw;
  height: 40vw;
  position: absolute;
  background: url(../images/waves.svg);
  background-repeat: no-repeat;
  animation: waves 4s linear infinite;
}

.wavetextblock {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40vw;
  color: white;
  font-family: 'InterSemiBold';
  font-size: 1.6vw;
}

.wavetext1{
  width: 10.52vw;
  height: 6vw;
  justify-content: flex-start;
}

.wavetext2{
  width: 8vw;
  height: 2.81vw;
  text-align: center;
}

.wavetext3{
  width: 7.4vw;
  height: 2.81vw;
  text-align: center;
}

.wavetext4{
  width: 7vw;
  height: 2.81vw;
}

.wavytext {
  color: white;
  font-family: 'InterRegular';
  margin-top: 8vw;
  display: flex;
  align-items: flex-start;
  animation: wavytext 5s ease infinite;
}

.wavytext:hover, .wavytext1:hover {
  color: #9BB6FF;
}

.wavytext1 {
  color: white;
  font-family: 'InterRegular';
  margin-top: 10vw;
  display: flex;
  align-items: flex-end;
  animation: wavytext1 5s ease infinite;
}

/* ---------------------- */

.fourthsection {
  width: 100%;
  height: 50vw;  
  margin: auto;
  position: relative;
  /* overflow-x: hidden; */
  margin-top: 30vh; 
  display: flex;
  justify-content: center;
}

/* .circlelectron1:hover ~ .circlelectron2 {
  animation-play-state: running;
}

.circlelectron2:hover ~ .circlelectron3 {
  animation-play-state: running;
}

.circlelectron3:hover ~ .circlelectron4 {
  animation-play-state: running;
}

.circlelectron4:hover ~ .circlelectron5 {
  animation-play-state: running;
}

.circlelectron5:hover ~ .circlelectron6 {
  animation-play-state: paused;
} */

.circle {
  width: 70vw;
  height: 42vw;
  position: absolute; 
  background: url(../images/circle.svg);
  background-size: 42vw 42vw;
  background-repeat: no-repeat;
  background-position: center;
  animation: circle 5s infinite; 
}

.electron {
  width: 1.8vw;
  height: 1.8vw;
  position: absolute;
}

.electron img {
  width: 1.8vw;
  height: 1.8vw;
}

.circlelectron1 {
  margin: 17% 45% 0% 0%;
  animation: circlelectron 1s linear infinite;
  /* animation-play-state: paused; */
}
/* 
@keyframes rotate {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
} */

.circlelectron2 {
  margin: 30% 75% 0% 0%;
  animation: circlelectron 1s linear infinite;
  /* animation-play-state: paused; */
}

.circlelectron3 {
  margin: 21% 0% 0% 60%;
  animation: circlelectron 1s linear infinite;
  /* animation-play-state: paused; */
}

.circlelectron4 {
  margin: 37% 0% 0% 28%;
  animation: circlelectron 1s linear infinite;
  /* animation-play-state: paused; */
}

.circlelectron5 {
  margin: 7% 0% 0% 86%;
  animation: circlelectron 1s linear infinite;
  /* animation-play-state: paused; */
}

.circlelectron6 {
  margin: 2% 64% 0% 0%;
  animation: circlelectron 1s linear infinite;
}

.circlelectron7 {
  margin: 11% 0% 0% 50%;
  animation: circlelectron 1s linear infinite;
}


/* ---------------------- */

.fifthsection {
  width: 100%;
  height: 50vw;
  margin-top: 10%;
  position: relative;
  overflow-x: hidden;
}
/* 
.toggles1 {
  width: 100%;
  background-color: #b40e7f;
  height: 10vw;
}

.toggles1 img {
  width: 50vw;
}

.toggle1 {
  margin: 0% 0% 0% 48%;
}

.toggle2 {
  margin: 0% 0% 0% 0%;
} */

.circles {
  display: flex;
  justify-content: space-around;
  margin-top: 5vw;
}

.circles img {
  width: 20vw;
  height: 19vw;
}

.circle1, .circle2, .circle3, .circle4 {
  position: absolute;
}

.circle1 {
  animation: rotation 5s linear infinite;
}

 .circle2 {
  animation: rotation1 5s linear infinite;
  animation-delay: 0.5s;
}

.circle3 {
  animation: rotation 5s linear infinite;
  animation-delay: 1s;
}  

.circle4 {
  animation: rotation1 5s linear infinite;
  animation-delay: 1.5s;
}




